body {
    text-align: center;
    font-family: cursive;
    font-size: x-large;
    background-color: rgb(218, 129, 148);
    background-image: linear-gradient(to bottom right, rgb(206, 107, 123), rgb(190, 182, 69));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
}
table {
    text-align: center;
    margin: auto;
}
h1 {
    margin-top: 5%;
}
input {
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    font-size: x-large;
    background-color: black;
    color: whitesmoke;
    box-shadow: 5px rgb(211, 217, 218);
    align-items: center;
    text-align: center;
    flex: auto;
}
input:hover {
    background-color: rgba(180, 167, 167, 0.185);
    cursor: pointer;
}
#symbol {
    color: black;
}
#symbol:hover {
    background-color: rgb(227, 233, 235);
    cursor: pointer;
}
